/*
selector {
    propiedad; valor
}
*/
body {
  background-color: #2d2d2d;
}

h1 {
  background-color: #689cdf;
  width: fit-content;
  border-radius: 10px;
  padding: 1%;
}

h2 {
  background-color: #689cdf;
  width: fit-content;
  border-radius: 10px;
  padding: 1%;
}

h3 {
  background-color: #689cdf;
  width: fit-content;
  border-radius: 10px;
  padding: 1%;
}

.container {
  background-color: #363636;
  width: fit-content;
  border-radius: 10px;
  padding: 1%;
}
